.idea/
/screenshots/
/replays/
/videos/
/settings/
/ffmpeg/
/dist/
/cache/
settings.json
settings-*
*.db
danser
danser-launcher
danser*.exe
danser*.zip
danser.log
launcher.log
assets.dpak
danser-core.*
libdanser*
api.txt
*.osr
